<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >


<suite name="Suite">
<test name="CreateCompTest">
    <classes>
        <class name="test.com.computers.test.CreateCompTest"/>
    </classes>
</test>
<test name="SearchCompTest">
    <classes>
        <class name="test.com.computers.test.SearchCompTest"/>
    </classes>
</test>
<test name="UpdateCompTest">
    <classes>
        <class name="test.com.computers.test.UpdateCompTest"/>
    </classes>
</test>
<test name="DeleteCompTest">
    <classes>
        <class name="test.com.computers.test.DeleteCompTest"/>
    </classes>
</test>
</suite>